<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire de Livraison et Liste des Éléments</title>

    <!-- Ajoutez les liens vers les fichiers CSS Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Ajoutez un style personnalisé pour la page combinée -->
    <style>
        body {
            background-color: #f8f9fa;
            margin-top: 50px; /* Ajoutez une marge pour le contenu */
        }

        h2 {
            color: #007bff;
        }

        .form-group label {
            color: #495057;
        }

        .form-group select,
        .form-group input {
            border: 1px solid #ced4da;
            border-radius: 4px;
            padding: 8px;
            color: #495057;
        }

        h3 {
            color: #28a745;
            margin-top: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        /* Style spécifique pour les onglets */
        #myTabs {
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
        }

        .nav-tabs .nav-link {
            color: #007bff;
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }

        .nav-tabs .nav-link.active {
            color: #fff;
            background-color: #007bff;
            border: 1px solid #007bff;
        }

        .tab-pane {
            padding: 20px;
            border: 1px solid #dee2e6;
            border-radius: .25rem;
            margin-top: 20px;
            background-color: #fff;
        }
    </style>
</head>
<body class="container">


    <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active" id="formulaire-tab" data-toggle="tab" href="/modelivraison/formulaire">Formulaire de Livraison</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="liste-tab" data-toggle="tab" href="/modelivraison/liste">Liste des Éléments Enregistrés</a>
        </li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane fade show active" id="formulaire">
            <!-- Contenu du formulaire de livraison -->
            <h2>Choisissez votre mode de livraison :</h2>
            <!-- ... le reste du formulaire ... -->
        </div>
    </div>
    
    <!-- <form action="/modelivraison/save" method="post" th:object="${modeLivraison}"> -->
    <!-- Liste des modes de livraison -->
    <form action="/modelivraison/save" method="post">
        <div class="form-group">
            <label for="modeLivraison">Mode de Livraison :</label>
            <select id="designation" name="designation" class="form-control">
                <!-- Utilisez Thymeleaf pour itérer sur la liste des modes de livraison -->
                <option th:each="modelivrai : ${modesLivraisonList}" th:value="${modelivrai}" th:text="${modelivrai}"></option>
            </select>
        </div>
        <h3>Créneau Horaire :</h3>
    
        <div class="form-row" style="padding: 25px;">
            <div class="form-group col-md-6">
                <label for="dateDebut">Du :</label>
                <input type="datetime-local" id="dateDebut" name="debut" class="form-control" th:required="required">
            </div>
    
            <div class="form-group col-md-6">
                <label for="dateFin">Au</label>
                <input type="datetime-local" id="dateFin" name="fin" class="form-control" th:required="required">
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
    
    <!-- Ajoutez le lien vers le fichier JavaScript Bootstrap (optionnel, mais peut être nécessaire pour certaines fonctionnalités) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    

</body>
</html>