<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Éléments Enregistrés</title>

    <!-- Ajoutez les liens vers les fichiers CSS Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            margin-top: 50px; /* Ajoutez une marge pour le contenu */
        }

        h2 {
            color: #007bff;
        }

        .form-group label {
            color: #495057;
        }

        .form-group select,
        .form-group input {
            border: 1px solid #ced4da;
            border-radius: 4px;
            padding: 8px;
            color: #495057;
        }

        h3 {
            color: #28a745;
            margin-top: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        /* Style spécifique pour les onglets */
        #myTabs {
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
        }

        .nav-tabs .nav-link {
            color: #007bff;
            border: 1px solid transparent;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }

        .nav-tabs .nav-link.active {
            color: #fff;
            background-color: #007bff;
            border: 1px solid #007bff;
        }

        .tab-pane {
            padding: 20px;
            border: 1px solid #dee2e6;
            border-radius: .25rem;
            margin-top: 20px;
            background-color: #fff;
        }
    </style>
    </style>
</head>
<body class="container">
<ul class="nav nav-tabs" id="myTabs">
    <li class="nav-item">
        <a class="nav-link" id="formulaire-tab" data-toggle="tab" href="/modelivraison/formulaire">Formulaire de Livraison</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" id="liste-tab" data-toggle="tab" href="/modelivraison/liste">Liste des Éléments Enregistrés</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="formulaire">
        <h2>Liste des Éléments Enregistrés :</h2>
    </div>    
</div>

<div class="col-md-12" id="liste-elements" style="padding-top:20px">
    <table class="table table-striped table-advance table-hover">
        <tbody>
            <tr>
                <th scope="row">N°</th>
                <th scope="row">Libelle</th>
                <th scope="row">Du</th>
                <th scope="row">A</th>
            </tr>            
            <tr th:each="commande : ${commandeList}">
                <td th:text="${commande.id}"></td>
                <td th:text="${commande.designation}"></td>
                <td th:text="${commande.debut}"></td>
                <td th:text="${commande.fin}"></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Ajoutez le lien vers le fichier JavaScript Bootstrap (optionnel, mais peut être nécessaire pour certaines fonctionnalités) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

</body>
</html>